# Sample linker configuration for C programs using the Atari binary file support.
# Use with: cl65 -tatari -Catari-xex.cfg prog.c -o prog.xex
FEATURES {
    STARTADDRESS: default = $2000;
}
SYMBOLS {
    __EXEHDR__:          type = import;
    __SYSTEM_CHECK__:    type = import;  # force inclusion of "system check" load chunk
    __STACKSIZE__:       type = weak, value = $0100; # 256B stack
    __STARTADDRESS__:    type = export, value = %S;
    __RESERVED_MEMORY__: type = weak, value = $0000;
    __SYSCHKHDR__:       type = export, value = 0; # Disable system check header
    __SYSCHKTRL__:       type = export, value = 0; # Disable system check trailer
}
MEMORY {
    #  RMT USES ZP > CB ZP:         start = $0096, size = $0035, type = rw, define = yes;
    # ORIGINAL ZP:         file = "", define = yes, start = $0082, size = $007E;
    ZP:         file = "", define = yes, start = $0096, size = $0035;
    HEADER:     file = %O,               start = $0000, size = $0002;

# "system check" load chunk
    SYSCHKCHNK: file = %O,               start = $2E00, size = $00F6;
# "main program" load chunk $BC20
    MAINHDR:    file = %O,               start = $0000, size = $0004;
    MAIN:       file = %O, define = yes, start = %S,    size = $BC20 - __STACKSIZE__ - __RESERVED_MEMORY__ - %S;
    RMTSNG:     file = %O, start = $9D00, size = $0600;
    RMTPLR:     file = %O, start = $A282, size = $0600;
}
FILES {
    %O: format = atari;
}
FORMATS {
    atari: runad = start,
           initad = SYSCHKCHNK: __SYSTEM_CHECK__;
}
SEGMENTS {
    ZEROPAGE:  load = ZP,         type = zp;
    EXTZP:     load = ZP,         type = zp,                optional = yes;
    EXEHDR:    load = HEADER,     type = ro;
    SYSCHK:    load = SYSCHKCHNK, type = rw,  define = yes, optional = yes;
    MAINHDR:   load = MAINHDR,    type = ro;
    STARTUP:   load = MAIN,       type = ro,  define = yes;
    LOWBSS:    load = MAIN,       type = rw,                optional = yes;  # not zero initialized
    LOWCODE:   load = MAIN,       type = ro,  define = yes, optional = yes;
    ONCE:      load = MAIN,       type = ro,                optional = yes;
    CODE:      load = MAIN,       type = ro,  define = yes;
    RODATA:    load = MAIN,       type = ro;
    DATA:      load = MAIN,       type = rw;
    CHARDATA:  load = MAIN        type = ro, define = yes, start = $8000;
    INIT:      load = MAIN,       type = rw,                optional = yes;
    RMTPLAYER: load =RMTPLR,      type = rw, define = yes;
    RMTSONG:   load =RMTSNG,      type = rw, define = yes;
    BSS:       load = MAIN,       type = bss, define = yes;
    ROWBSS:    load = MAIN        type = bss, define = yes, align=$100;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
